<div class="card">
    <h1>Online Store
        <img [src]= "'https://openclipart.org/image/800px/svg_to_png/244857/Online-Store-No-Signs.png'"
        [style.width.px]= "'80'"
        [style.margin.px]= "'3'">
    </h1>
    <div class="card-header">
        <h2>{{pageTitle}}</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text"
                [(ngModel)]= 'listFilter'>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Filtered by: {{listFilter}}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped" *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th><button class="btn btn-primary"
                            (click)= 'toggleImage()'>
                            {{showImage ? 'Hide' : 'Show'}} image
                        </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 star rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let p of filteredProducts'>
                        <td><img *ngIf='showImage'
                            [src]= 'p.imageUrl' 
                            [title]= 'p.productName'
                            [style.width.px]= 'imageWidth'
                            [style.margin.px]= 'imageMargin'>
                        </td>
                        <td>{{p.productName}}</td>
                        <td>{{p.productCode | lowercase | convertToSpaces: '-'}}</td>
                        <td>{{p.releaseDate}}</td>
                        <td>{{p.price | currency:'MXN':'symbol':'1.2-2' }}</td>
                        <td>{{p.starRating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>